<!-- collapse -->
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
 <!--collapse --> 
<!-- navbar -->
<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand cooking text-warning" href="#">
    <img src="assets/Images/logo cooking vector color2.png" width="120" height="75">
    Cooking Wars
  </a>
  <div class="d-flex flex-row-reverse bd-highlight">
      <div class="p-2 bd-highlight">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="p-2 bd-highlight">
        <ul class="nav navbar-nav ">
          <li><a href="#"><i class="fas fa-user"></i> Registrarse</a></li>
          <li><a href="#"><i class="fas fa-sign-in-alt"></i> Entrar</a></li>
        </ul></div>
      <div class="p-2 bd-highlight">
        <ul class="nav navbar-nav mr-2">
          <li><a href="#"><i class="fas fa-user"></i> Registrarse</a></li>
        </ul></div>
            <div class="p-2 bd-highlight"><button type="button" class="btn btn-primary btn-lg">Jugar</button></div>
</div>

</nav>
<!-- navbar -->
<!-- imagen cuerpo -->
<div class="jumbotron m-0 p-0">
    <!-- <img src="assets/Images/Logo-Cooking-Wars.jpg" width="100%" height="1000px" > -->
    <img src="assets/Images/logo cooking vector color.png" class="bg-primary" width="100%" height="1000px" >
</div>
<!-- imagen cuerpo -->
<!-- recetas -->
<!-- 
<div class="jumbotron jumbotron-fluid row mb-2 m-0 p-0 ">
<div class="jumbotron jumbotron-fluid recetaimagen col-md-6 p-0 m-0 float-right" style="background-image: url(assets/Images/Hamburguesa.png); background-color:slateblue">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">
      <h2 class="card-title h2 my-4 py-2 cooking text-dark"><b></b></h2>   
      <h2 class="card-title h2 my-4 py-2 cooking text-l"><b></b></h2> 
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid col-md-6 p-0 bg-white m-0 float-right">
  </div> 
</div>

<div class="jumbotron jumbotron-fluid row mb-2 m-0 p-0" >
    <div class="jumbotron jumbotron-fluid col-md-6 p-0 bg-white m-0 float-right">
      </div>    
    <div class="jumbotron jumbotron-fluid recetaimagen col-md-6 p-0 m-0 float-right" style="background-image: url(assets/Images/Pizza.png); background-color:tomato">
      <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">
          <h2 class="card-title h2 my-4 py-2 cooking text-dark"><b>Pizza</b></h2>
        </div>
      </div>
    </div>
  </div>

    <div class="jumbotron jumbotron-fluid row mb-2 m-0 p-0">
        <div class="jumbotron jumbotron-fluid recetaimagen col-md-6 p-0 m-0 float-right" style="background-image: url(assets/Images/Taco.png); background-color:green">
          <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">
              <h2 class="card-title h2 my-4 py-2 cooking text-dark"><b>Taco</b></h2>
            </div>
          </div>
        </div>
        <div class="jumbotron jumbotron-fluid col-md-6 p-0 bg-white m-0 float-right">
          </div> 
        </div> -->

        <div class="card m-0 p-0">
            <div class="row no-gutters">
              <div class="col-md-6 recetaimagen " style="background-color:slateblue">
                <img src="assets/Images/Hamburguesa.png" class="card-img"  alt="">
              </div>
              <div class="col-md-6 recetaimagen" style="background-image: url(assets/Images/Diapositiva1.PNG);background-size: 100%;">
                <div class="card-body"><br><br><br><br><br><br><br>
                  <h5 class="card-title cooking text-center rgba-stylish-strong py-5 px-4" style="font-size: 60px"><strong> Hamburguesa</strong></h5>
                  <p class="card-text text-center cooking" style="color: slateblue">Ingredientes:</p>
                  <ul class="card-text text-center cooking" style="font-size: 40px; color:green">
                    <li>Pan</li>
                    <li>carne</li>
                    <li>Lechuga</li>
                    <li>Tomate</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="card m-0 p-0">
              <div class="row no-gutters">
                <div class="col-md-6 recetaimagen" style="background-image: url(assets/Images/Diapositiva2.PNG);background-size: 100%;">
                  <div class="card-body"><br><br><br>
                    <h5 class="card-title cooking text-center rgba-stylish-strong py-5 px-4" style="font-size: 60px"><strong> Pizza</strong></h5><br>
                    <p class="card-text text-center cooking" style="color: tomato">Ingredientes:</p>
                    <ul class="card-text text-center cooking" style="font-size: 40px; color:slateblue">
                      <li>Pasta</li>
                      <li>Peperoni</li>
                      <li>Queso</li>
                      <li>Tomate</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 recetaimagen " style="background-color:tomato">
                    <img src="assets/Images/Pizza.png" class="card-img"  alt="">
                  </div>
              </div>
            </div>

            <div class="card m-0 p-0">
                <div class="row no-gutters">
                  <div class="col-md-6 recetaimagen " style="background-color:green">
                    <img src="assets/Images/Taco.png" class="card-img"  alt="">
                  </div>
                  <div class="col-md-6 recetaimagen" style="background-image: url(assets/Images/Diapositiva3.PNG);background-size: 100%;">
                    <div class="card-body"><br>
                      <h5 class="card-title cooking text-center rgba-stylish-strong py-5 px-4" style="font-size: 60px"><strong> Taco</strong></h5>
                      <p class="card-text text-center cooking" style="color: green">Ingredientes:</p>
                      <ul class="card-text text-center cooking" style="font-size: 40px; color:tomato">
                        <li>Tortilla</li>
                        <li>carne</li>
                        <li>Chile</li>
                        <li>Tomate</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

<!-- recetas -->

<!-- footer -->
<footer class="mastfoot mt-auto bg-dark text-center">
    <div class="inner">
      <p class="text-light">Creada para: <a href="https://getbootstrap.com/">Multimedia Interactiva</a>, por <a href="https://twitter.com/mdo">@kreuk</a>.</p>
    </div>
  </footer>
<!-- footer -->
<router-outlet></router-outlet>